<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.lyricsfrenzylite.android"
      android:versionCode="7"
      android:versionName="1.3">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
       
        <activity android:name="com.lyricsfrenzylite.android.SearchActivity" android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name="com.lyricsfrenzylite.android.ShowResultListActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan">
		</activity>
		<activity android:name="com.lyricsfrenzylite.android.ArtistInfoActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan">
		</activity>
		
		<activity android:name="com.lyricsfrenzylite.android.LyricViewActivity" android:launchMode="singleInstance" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan">
            <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="T4JOAuth" android:host="main" />
			</intent-filter>
		</activity>
	
    </application>
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> 
    
    <uses-sdk android:minSdkVersion="7" />

</manifest> 